@import 'design-systems';

$primary: $purple-500;
$primary-light: $purple-200;
$primary-dark: $purple-800;

$secondary: $gray-500;
$secondary-light: $gray-200;
$secondary-dark: $gray-800;

$tertiary: $blue-500;
$tertiary-light: $blue-200;
$tertiary-dark: $blue-800;

$error: $red-500;
$error-light: $red-100;
$error-dark: $red-800;

$gray: $gray-600;
$gray-light: $gray-300;
$gray-dark: $gray-800;

$border-color: $gray-300;
$text-color: $gray-600;
