@import 'src/styles/variables';

.tbfe-auth {
  background-color: $purple-100;

  &__logo {
    margin-bottom: 2rem;

    img {
      width: 125px;
      pointer-events: none;
    }
  }

  &__form {
    width: 360px;
  }
}
